.link {
  cursor: pointer;
}

.write {
  cursor: pointer;
}

.logout{
  cursor: pointer;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #999999 0, crimson 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(66, 35, 35, 0.4) 0 2px 4px,rgba(66, 35, 35, 0.3) 0 7px 13px -3px,rgba(111, 58, 58, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}



.login {
    cursor: pointer;
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #999999 0, #050507 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  
  
  
}
.burger {
  width: 20px;
  height: 16px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  display: none;
}

.line {
  width: 100%;
  height: 2px;
  background-color: var(--textColor);
}

.responsiveMenu{
  position: absolute;
  top: 100px;
  left: 0;
  background-color: var(--bg);
  height: calc(100vh - 100px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-size: 36px;
  z-index: 999;
}

.login:focus {
  box-shadow: #050507 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #050507 0 -3px 0 inset;
}

.login:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #050507 0 -3px 0 inset;
  transform: translateY(-2px);
}

.login:active {
  box-shadow: #050507 0 3px 7px inset;
  transform: translateY(2px);
}



.logout:focus {
  box-shadow: #050507 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #050507 0 -3px 0 inset;
}

.logout:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #050507 0 -3px 0 inset;
  transform: translateY(-2px);
}

.logout:active {
  box-shadow: #050507 0 3px 7px inset;
  transform: translateY(2px);
}






@media screen and (max-width: 640px) {
  .burger {
    display: flex;
  }

  .link{
    display: none;
  }

  .write{
    display: none;
  }

}
